go 1.19

use (
	.
	./internal/apmgodog
	./internal/apmschema
	./internal/tracecontexttest
	./module/apmawssdkgo
	./module/apmazure
	./module/apmbeego
	./module/apmchi
	./module/apmchiv5
	./module/apmecho
	./module/apmechov4
	./module/apmelasticsearch
	./module/apmelasticsearch/internal/integration
	./module/apmfasthttp
	./module/apmfiber
	./module/apmgin
	./module/apmgocql
	./module/apmgokit
	./module/apmgometrics
	./module/apmgopg
	./module/apmgopgv10
	./module/apmgoredis
	./module/apmgoredisv8
	./module/apmgorilla
	./module/apmgorm
	./module/apmgormv2
	./module/apmgrpc
	./module/apmhttp
	./module/apmhttprouter
	./module/apmlambda
	./module/apmlogrus
	./module/apmmongo
	./module/apmnegroni
	./module/apmot
	./module/apmotel
	./module/apmpgx
	./module/apmpgxv5
	./module/apmprometheus
	./module/apmredigo
	./module/apmrestful
	./module/apmrestfulv3
	./module/apmsql
	./module/apmzap
	./module/apmzerolog
	./scripts/genmod
	./tools
)
